.App {
  text-align: center;
  justify-content: center;
  flex-direction: center;
  color: rgb(0, 0, 0);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* .card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
} */
